---
layout: base.njk
title: Alejandro Antoraz — contacto
pagina: contacto
permalink: /contacto/
---

<div class="cv">
  <h2>contacto</h2>
  <p><a href="mailto:antoraz@proton.me">antoraz@proton.me</a></p>

  <h2>rrss</h2>
  <p>Be: <a href="https://www.behance.net/alejantoraz">behance.net/alejantoraz</a></p>
  <p>IG: <a href="https://www.instagram.com/alejantoraz">instagram.com/alejantoraz</a></p>
  <p>Linktr.ee: <a href="https://linktr.ee/alejandroantoraz">linktr.ee/alejandroantoraz</a></p>
</div>
